@media screen and (max-width: 768px){

.board{
        height: 70vh;
    }
    #tabellone{
        height: 9vh;
    }

    #playGround{
        height: 61vh;
    }
    #command{
        transform: translateY(-30px);
    }

    #tabellone p{
        margin: 1px 0 1px 0;   
    }

}



@media screen and (max-width: 576px){}






