@media screen and (max-width: 768px){
    #tabellone{
        height: 9vh;
    }

    #board{
        height: 61vh;
    }

    #command{
        transform: translateY(-30px);
    }

    #tabellone p{
        margin: 1px 0 1px 0;   
    }
}

@media screen and (max-width: 576px){
   .pad{
    width: 20%;
   }
}






