:root{
    --primary: rgb(0, 128, 0);
    --primary-light: rgb(156, 249, 156);
    --primary-heavy: rgb(0, 62, 0);
    --primary-003: rgba(0, 128, 0, 0.03);
    --primary-01: rgba(0, 128, 0, 0.1);
    --primary-03: rgba(0, 128, 0, 0.3);
    --primary-05: rgba(0, 128, 0, 0.5);
    --primary-08: rgba(0, 128, 0, 0.8);

    --secondary: rgb(255, 255, 0);
    --secondary-light: rgb(254, 254, 183);
    --secondary-003: rgba(255, 255, 0, 0.03);
    --secondary-03: rgba(255, 255, 0, 0.3);
    --secondary-08: rgba(255, 255, 0, 0.8);
}


/* Stile del playGround */

.bg-stars{
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(./media/bg-stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

.neon-border{
    
    border: 1px solid var(--primary-08);
    border-radius: 5px;
    box-shadow: 0 0 4px 1px var(--primary-08), 0 0 4px 1px var(--primary-08) inset;    
}

.title{
    color: var(--primary);
    font-size: 1.8rem;
}

#tabellone{
    height: 6vh;
    color: var(--primary);
    font-size: 1.2rem;
    background-color: var(--primary-01);   
}

#tabellone p{
    margin: 5px 0 5px 0;   
}

#settings:hover{
    cursor: pointer;
}

#board{
    height: 74vh;
    position: relative;
    backdrop-filter: blur(5px);
    cursor: none;
}

#command{
    position:absolute;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: radial-gradient(var(--primary-03), var(--primary-003));
    
}

/* Stile del pad */

.pad{
    position: absolute;
    bottom: 20px;
    height: 3%;
    width: 15%;
    transform: translateX(-50%);
    background-image: radial-gradient(var(--primary-03), var(--primary-003));
}

.corner{
    width: 20px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--primary-05);   
}


/* Stile della ball */

#ball{
    position: absolute;
    height: 20px;
    width: 20px;   
    border-radius: 50%;
    border: 1px solid var(--secondary);
    box-shadow: 0 0 4px 1px var(--secondary-08), 0 0 4px 1px var(--secondary-08) inset;
    background-image: radial-gradient(var(--secondary-003), var(--secondary-03));
}


/* Stile dei brick */

.brick{   
    position: absolute;
    height: 5%;
    width: 10%;   
    background-image: radial-gradient(var(--primary-03), var(--primary-003));
}


/* Modal restyle */
.modal-content{
    background-color: transparent;
    background-image: radial-gradient(var(--primary-03), var(--primary-003));
    backdrop-filter: blur(8px);
    color: var(--primary);
}

.modal-header{
    border-color: var(--primary);
}

.modal-footer{
    border-color: var(--primary);
    justify-content: center;
}

.btn{
    min-width: 30%;
}

.btn-outline-success{
    color: var(--primary);  
}

.btn-outline-success:hover{
    color: var(--primary-light);
    border: 1px solid var(--primary);
    background-color: transparent;
    background-image: radial-gradient(var(--primary-03), var(--primary-003));
}

.btn-outline-warning{
    color: var(--secondary);
    border: 1px solid var(--secondary);
    box-shadow: 0 0 4px 1px var(--secondary-08), 0 0 4px 1px var(--secondary-08) inset;
}

.btn-outline-warning:hover{
    color: var(--secondary-light);
    background-color: transparent;
    background-image: radial-gradient(var(--secondary-003), var(--secondary-03));   
}

.form-check-input:checked{
    background-color: var(--primary);
    border-color: var(--primary-heavy);
}

.form-check-input{
    background-color: var(--secondary-08);
}

.form-check-input:focus{
    border-color: none;
    box-shadow: none;
}