/* Stile del playGround */

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(./media/bg-stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

.board{
    height: 80vh;
    border: 2px solid rgba(0, 128, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgba(0, 128, 0, 0.8), 0 0 4px 1px rgba(0, 128, 0, 0.8) inset;
    backdrop-filter: blur(2px);
}

#tabellone{
    height: 6vh;
    color: green;
    font-size: 1.2rem;
    background-color: rgba(0, 128, 0, 0.1);   
}

#playGround{
    height: 74vh;
    position: relative;
    /* border: 2px solid rgba(128, 0, 0, 0.8); */
}

#tabellone p{
    margin: 5px 0 5px 0;   
}

#command{
    position:absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgba(0, 128, 0, 0.8);
    box-shadow: 0 0 4px 1px rgba(0, 128, 0, 0.8), 0 0 4px 1px rgba(0, 128, 0, 0.8) inset;
    background-image: radial-gradient(rgba(0, 128, 0, 0.3), rgba(0, 128, 0, 0.03));
}

/* Stile del pad */

.pad{
    position: absolute;
    height: 3%;
    width: 15%;
    
    transform: translateX(-50%);
    border: 1px solid rgba(0, 128, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 128, 0, 0.8), 0 0 2px 1px rgba(0, 128, 0, 0.8) inset;
    background-image: radial-gradient(rgba(0, 128, 0, 0.3), rgba(0, 128, 0, 0.03));
}

.corner{
    width: 20px;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.5);
    
}



/* Stile della ball */

#ball{
    position: absolute;
    height: 20px;
    width: 20px;
    
    
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 0, 0.8);
    box-shadow: 0 0 4px 1px rgba(255, 255, 0, 0.8), 0 0 4px 1px rgba(255, 255, 0, 0.8) inset;
    background-image: radial-gradient(rgba(255, 255, 0, 0.03)), rgba(255, 255, 0, 0.3);

}




#data{
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.231);
}

/* Stile dei brick */

.brick{

    position: absolute;
    height: 5%;
    width: 10%;
    
   
    border: 1px solid rgba(0, 128, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 128, 0, 0.8), 0 0 2px 1px rgba(0, 128, 0, 0.8) inset;
    background-image: radial-gradient(rgba(0, 128, 0, 0.3), rgba(0, 128, 0, 0.03));
}